 <div class="main-content container-fluid">


        <div class="row">

            <div class="col-md-6">
                <center><img class="logo center" src="https://api.coala.io/en/latest/_static/images/coala_logo.svg">
                </center>
            </div>

            <div class="col-md-5">
                <div class="title" >coala</div>
                <div class="description">Linting and fixing code for all languages</div>
            </div>


        </div>

    </div>
    <section>
        <div class="container">
            <div class="terminal-install">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card horizontal term-install-card">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><strong>$</strong>  pip3 install coala-bears</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="tip">Installs coala ...</div>
                        </div>

                        <div class="col-md-6">
                            <div class="tip right">... before you know it</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
        <div class="install-tip">
                    <div class="container-title">installation</div>


                <div class="dev-row row no-border">
                    <div class="col-md-6 tip-big">Install coala without any bears</div>
                    <div class="col-md-6 tip-example">
                        <div class="card horizontal term-install-card-small">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p><strong>$</strong> pip3 install coala</p>
                                </div>
                            </div>
                        </div></div>
                    </div>
                    <div class="dev-row row">
                        <div class="col-md-6 tip-big">Install development version of coala</div>
                        <div class="col-md-6 tip-example">
                            <div class="card horizontal term-install-card-small">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p><strong>$</strong> pip3 install coala-bears --pre</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev-row row">
                        <div class="col-md-6 tip-big">Installing inside a virtualenv</div>
                        <div class="col-md-6 tip-example">
                            <div class="card horizontal term-install-card-small">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p><strong>$</strong> pip3 install virtualenv</p>
                                        <p><strong>$</strong> virtualenv venv</p>
                                        <p><strong>$</strong> source venv/bin/activate</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tip-small">On Unix based systems</div>
                            <div class="card horizontal term-install-card-small">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p><strong>$</strong> source venv/bin/activate</p>
                                    </div>
                                </div>
                            </div>


                            <div class="tip-small">On Windows</div>
                            <div class="card horizontal term-install-card-small">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p><strong>$</strong> venv\scripts\activate</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section ng-controller="SnippetController as sc">
            <div class="container">
            <div class="examples" >
            <div class="container-title">getting started</div>


                <div class="row">
                    <div class="col-md-4 example-select">
                        <select ng-init="sc.lang_selected='Python'" ng-model="sc.lang_selected" ng-options="lang for lang in sc.languages">
                            <option value="" disabled>Choose a Language</option>
                        </select>

                    </div>

                    <div class="col-md-8 example-card">
                        <div class="card horizontal term-install-card">
                        <div class="card-stacked">
                            <div class="snippet-content">
                                <pre class="snippet-card">
                                <span class="snippet-span" ng-repeat="line in sc.snip[sc.lang_selected]">{{line}}</span>
                                </pre>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
